*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.but{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 8px;
}
.chiffre,.operation,.egal{
    padding: 10px 25px;
    box-shadow: black ;   
}

button{
    background-color: white;
    border: none;
    border-radius: 15px;
}
.firstdiv{
    box-sizing: border-box;
    border: solid 2px whitesmoke;
    box-shadow:2px black ;
    background-color: rgb(231, 231, 227);
}
.section{
    padding-top: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
}
input{
    padding: 30px 50px;
}
.operc{
    background-color: blue;
}
.bleue,.operation{
    background-color: rgb(189, 203, 237);
}
#input{
    border: none;
}
input{
    border: none;
    outline: none;
}
.clear,.clearall{
    padding: 10px 25px;
}
.buts{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 5px;
}
