*{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
.but,.buts{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 8px;
    gap: 8px;
}
.chiffre,.operation,.egal{
    padding: 10px 25px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3) ;   
}

button{
    background-color: white;
    border: none;
    border-radius: 15px;
    aspect-ratio: 1.5;
    font-size: 1.2em;
}
.firstdiv{
    box-sizing: border-box;
    border: solid 2px whitesmoke;
    box-shadow:2px 2px 8px rgba(0,0,0,0.2);
    background-color: rgb(231, 231, 227);
   max-width: 320px;
   width: 100%;
}
.section{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}
input{
    width: 100%;
    padding: 15px 1px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 1.8em;
}
.operc{
    background-color: blue;
}
.bleue,.operation{
    background-color: rgb(189, 203, 237);
}
.clear,.clearall{
    padding: 10px 20px;
    background-color: rgb(220,220,220);
}
@media (max-width:660px){
    .firstdiv{
        width: 90%;
    }
    .section{
        padding-top: 20px;
    }
    button{
        padding: 6px 12px;
        font-size: 0.9em;
        aspect-ratio: unset;
        min-width: 0px;
    }
    /* .chiffre,.operation,.egal,.clear,.clearall{
        padding: 6px 12px; 
    } */
}